
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');


* {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  font-size:10px;
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
}

body {
  background-color: #f9f9f9;
}

/* Margin-top */
.mt10 {
  margin-top: 10px;
}
.mt20 {
  margin-top: 20px;
}
.mt30 {
  margin-top: 30px;
}
.mt40 {
  margin-top: 40px;
}
.mt50 {
  margin-top: 50px;
}
.mt60 {
  margin-top: 60px;
}
.mt70 {
  margin-top: 70px;
}
.mt80 {
  margin-top: 80px;
}
.mt90 {
  margin-top: 90px;
}
.mt100 {
  margin-top: 100px;
}

/* Margin-bottom */
.mb10 {
  margin-bottom: 10px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb40 {
  margin-bottom: 40px;
}
.mb50 {
  margin-bottom: 50px;
}
.mb60 {
  margin-bottom: 60px;
}
.mb70 {
  margin-bottom: 70px;
}
.mb80 {
  margin-bottom: 80px;
}
.mb90 {
  margin-bottom: 90px;
}
.mb100 {
  margin-bottom: 100px;
}
/* Margin-left */
.ml10 {
  margin-left: 10px;
}
.ml20 {
  margin-left: 20px;
}
.ml30 {
  margin-left: 30px;
}
.ml40 {
  margin-left: 40px;
}
.ml50 {
  margin-left: 50px;
}
.ml60 {
  margin-left: 60px;
}
.ml70 {
  margin-left: 70px;
}
.ml80 {
  margin-left: 80px;
}
.ml90 {
  margin-left: 90px;
}
.mr100 {
  margin-left: 100px;
}
/* Margin-right */
.mr10 {
  margin-right: 10px;
}
.mr20 {
  margin-right: 20px;
}
.mr30 {
  margin-right: 30px;
}
.mr40 {
  margin-right: 40px;
}
.mr50 {
  margin-right: 50px;
}
.mr60 {
  margin-right: 60px;
}
.mr70 {
  margin-right: 70px;
}
.mr80 {
  margin-right: 80px;
}
.mr90 {
  margin-right: 90px;
}
.mr100 {
  margin-right: 100px;
}

/* Padding-top */
.pt10 {
  padding-top: 10px;
}
.pt20 {
  padding-top: 20px;
}
.pt30 {
  padding-top: 30px;
}
.pt40 {
  padding-top: 40px;
}
.pt50 {
  padding-top: 50px;
}
.pt60 {
  padding-top: 60px;
}
.pt70 {
  padding-top: 70px;
}
.pt80 {
  padding-top: 80px;
}
.pt90 {
  padding-top: 90px;
}
.pt100 {
  padding-top: 100px;
}

/* Padding-bottom */
.pb10 {
  padding-bottom: 10px;
}
.pb20 {
  padding-bottom: 20px;
}
.pb30 {
  padding-bottom: 30px;
}
.pb40 {
  padding-bottom: 40px;
}
.pb50 {
  padding-bottom: 50px;
}
.pb60 {
  padding-bottom: 60px;
}
.pb70 {
  padding-bottom: 70px;
}
.pb80 {
  padding-bottom: 80px;
}
.pb90 {
  padding-bottom: 90px;
}
.pb100 {
  padding-bottom: 100px;
}

/* Padding left */
.pt10 {
  padding-top: 10px;
}
.pt20 {
  padding-top: 20px;
}
.pt30 {
  padding-top: 30px;
}
.pt40 {
  padding-top: 40px;
}
.pt50 {
  padding-top: 50px;
}
.pt60 {
  padding-top: 60px;
}
.pt70 {
  padding-top: 70px;
}
.pt80 {
  padding-top: 80px;
}
.pt90 {
  padding-top: 90px;
}
.pt100 {
  padding-top: 100px;
}

/* Padding-left */
.pl10 {
  padding-left: 10px;
}
.pl20 {
  padding-left: 20px;
}
.pl30 {
  padding-left: 30px;
}
.pl40 {
  padding-left: 40px;
}
.pl50 {
  padding-left: 50px;
}
.pl60 {
  padding-left: 60px;
}
.pl70 {
  padding-left: 70px;
}
.pl80 {
  padding-left: 80px;
}
.pl90 {
  padding-left: 90px;
}
.pl100 {
  padding-left: 100px;
}
/* Padding-rigth */
.pr10 {
  padding-right: 10px;
}
.pr20 {
  padding-right: 20px;
}
.pr30 {
  padding-right: 30px;
}
.pr40 {
  padding-right: 40px;
}
.pr50 {
  padding-right: 50px;
}
.pr60 {
  padding-right: 60px;
}
.pr70 {
  padding-right: 70px;
}
.pr80 {
  padding-right: 80px;
}
.pr90 {
  padding-right: 90px;
}
.pr100 {
  padding-right: 100px;
}
.w100{
  width: 100%;
}
.ta{
  text-align: center;
}
.center-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}

h1 {
  font-size: 2.4em;
  font-weight: 700;
  line-height: 1.3em;
  margin: 15px 0px;
  color:#000000;
  letter-spacing: -1px;
}

h2 {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.3em;
  padding: 10px 0px;

}

h3 {
  font-size: 2.2rem;
  font-weight: 200;
  letter-spacing: 1px;
}

h4 {
  font-size: 2.5rem;
  font-weight: 600;
  color:#000000; 
  letter-spacing: 0.3px;
  margin: 10px 0 10px 0;
}

h5 {
  font-size: 1.3rem;
  font-weight: 700;
  color:#000000; 
  letter-spacing: 1.3px;
  text-transform: uppercase;
  margin:30px 0 10px 0;
}

h5 a{
  color:#000000; 
}

h5 a:hover {
  color:black;
}

h6 {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 18px;
  color: grey;
}

p {
  font-size: 1.6rem;
  font-weight: 200;
  line-height: 28px;
}

p span{
  font-weight: 600;
  font-size: 1.6rem;
}

.navbar {
  display:flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
}

.navbar li{
  margin-left: 10px;
}

a{
  text-decoration: none;
  color: black;
  padding: 5px;
  font-weight: 600;

}

.navbar a:hover {
  font-weight: 800;
}

.navbar ul {
  display:flex;
  list-style: none;
  width: 100%;
}

.navbar-container{
  align-content: center;
  width: 100%;
}


.presentation{
  margin-top: 35%;
}

.red-btn a{
  color:white;
  background-color: #000000;
  padding: 8px;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
}

.red-btn a:hover{
  color:#000000;
  border: solid 2px #000000;
  background-color: transparent;
}

.icons-nav{
  margin-left: 45px;
  display: flex;
}

.icons-nav ul {
  display:flex;
}

.icons-nav li{
  padding-right: 5px;
  list-style: none;
}

.about-list{
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 24px;
  margin-top:15px;
}

.about-list li{
  list-style: none;
  font-size: 1.5rem;
}

.about-list span{
  color: #000000;
  font-weight: 600;
  font-size: 1.5rem;
}

.project-card-img img{
 width: 98%;
}

.project-card p{
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
 
}

.project-card a{
  padding: 0px;
}

.product-detail-img img{
  width: 100%;
}

.btn-simple a{
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 70px auto 10px auto;
}

.footer p{
  font-size: 01rem;
}

.footer ul{
  margin: 5px 0 0 0;
}

@media (min-width: 1024px){
  h1{
    font-size: 4.7rem; 
    padding-top:30px;
  }
  h2{font-size: 3.4rem;}
  h3{font-size: 3rem;}
  h4{}
  h5{font-size: 1.8rem;}
  h6{font-size: 2rem; padding:12px 0 12px 0;}
  p{font-size: 1.8rem; line-height: 3rem;}
  p span{font-size: 1.8rem;}
  
  .presentation{
    margin: 10% 0 0 60px;
    width: 80%;
  }

  .red-btn a{
    padding:18px 20px;
    font-size: 1.4rem;
    letter-spacing: 0.6rem;  
}

  .red-btn {
    margin: 50px 0 50px 0;
  }

  .icons-nav img{
    width: 30px;
    margin-left:10px;
  }

  .projects h1{
    text-align: center;
  }
  
  .card-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin:30px 0 0 55px;
   }

  .project-card{
    width: 46%;
    margin: 0;
  }
  
  .navbar-ul a{
    font-size: 1.5rem;
    padding:30px;
  }
  
  .btn-simple{
    margin-bottom: 40px;
  }

  .btn-simple a{
    font-size: 1.4rem;
  }
  
  .btn-simple img{
    width: 10px;
  }

  .project-details, .about{
    width: 65%;
    margin: 150px auto 40px auto;
  }

  .project-details img{
    width: 30px;
    margin-bottom: 20px;
  }
  
  .demo-link a {
    margin-left: 140px;
  }

  .about-list li{
    padding-bottom: 10px;
  }
  
  .tools-container{
    display: flex;
  }

  .about-web, .about-design {
    width: 48%;
    margin-top: 12px;
  }

  .about-web{
    margin-right: 40px;
  }

  .footer{
    width: 65%;
    margin-top: 90px;
  }

  .footer img{
    width: 21px;
  }

  .footer p{
    font-size: 1.5rem;
  }

  .about-list {
    margin-top:30px;
  }

  .about-list li {
    font-size: 1.8rem;
  }

  .about-list span{
    font-weight: 800;
    margin-right: 8px;
  }

  .about h1{
    margin-bottom: 30px;
  }
}